*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    gap: 3rem;
    margin-top: 3rem;

}
#user-score,#computer-score{
    font-size: 6rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    border-radius: 0.5rem;
    padding: 1rem;
    
}